.logos_block{
  background-color: #fff;
  text-align: center;

  .block-title{
    font-size: 4rem;
    padding: 5rem 0 0;
  }

  .logos-container{
    margin: 1.5rem 0;

    img{
      display: inline;
      height: 100px;
      width: auto;
      margin: 1.5rem 38px;
    }
  }

}